.App {
  text-align: center;
  font-family: "Courier New" , Courier, monospace;
   
}

.pointer {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
 position: fixed;
 top:0;
 left:0;
 bottom:0;
 right:0;
 z-index: -1;


}